[Desktop Entry]
Type=Application
Name=bb
Comment=The IDE that builds itself
Exec=/home/naftoli/.local/bin/bb-window
Icon=/home/naftoli/.local/share/icons/hicolor/512x512/apps/bb.png
Terminal=false
Categories=Development;
StartupNotify=true
StartupWMClass=bb-window
